// 31 july 2014
#define UNICODE
#define _UNICODE
#define STRICT
#define STRICT_TYPED_ITEMIDS
/* get Windows version right; right now Windows XP */
#define WINVER 0x0501
#define _WIN32_WINNT 0x0501
#define _WIN32_WINDOWS 0x0501		/* according to Microsoft's winperf.h */
#define _WIN32_IE 0x0600			/* according to Microsoft's sdkddkver.h */
#define NTDDI_VERSION 0x05010000	/* according to Microsoft's sdkddkver.h */
#include <windows.h>
#include <commctrl.h>
#include "mainwin.h"

rcMainWin DIALOGEX 0, 0, 640, 480
STYLE DS_MODALFRAME | WS_OVERLAPPEDWINDOW | WS_CAPTION | WS_SYSMENU | DS_SHELLFONT
CAPTION "Windows Dialog Base Units Calculator"
FONT 8, "MS Shell Dlg"
BEGIN
	// TODO
END
