// 31 july 2014
#include "winapi.h"
#include "mainwin.h"

rcMainWin DIALOGEX 0, 0, 640, 480
STYLE DS_MODALFRAME | WS_OVERLAPPEDWINDOW | WS_CAPTION | WS_SYSMENU | DS_SHELLFONT
CAPTION "Windows Dialog Base Units Calculator"
FONT 8, "MS Shell Dlg"
BEGIN
	// TODO
END
